Port 22
Protocol 2

PermitRootLogin no
PasswordAuthentication no
PermitEmptyPasswords no
ChallengeResponseAuthentication no
PubkeyAuthentication yes
AuthenticationMethods publickey

AllowUsers jump
MaxAuthTries 3
MaxSessions 4
LoginGraceTime 30

AllowTcpForwarding yes
AllowAgentForwarding no
X11Forwarding no
PermitTunnel no
GatewayPorts no

ClientAliveInterval 300
ClientAliveCountMax 2

LogLevel VERBOSE
Banner /etc/ssh/banner

Subsystem sftp /usr/lib/openssh/sftp-server
